@model PagedList.IPagedList<TTCS.Areas.EmailSrv.Models.EEmailFilterRule>
@using PagedList.Mvc;

@{
    ViewBag.Title = "郵件過濾設定";
    TTCS.Areas.EmailSrv.Models.EEmailFilterRule emailfilterrule = new TTCS.Areas.EmailSrv.Models.EEmailFilterRule();
}
<table class="table_div">
    <tr>
        <td class="column70_title">郵件過濾規則清單
        </td>
        <td class="seperate"></td>
        <td class="column30_title">郵件過濾規則詳細內容
        </td>
    </tr>
    <tr>
        <td class="column70">
            @Html.Partial("_PartialSearchBox", emailfilterrule)
            <br />
            @Html.Partial("_PartialList", Model)
            <div id="div_center">
                @Html.PagedListPager((PagedList.IPagedList)Model,
                            page => Url.Action("Index",
                                new { page = page, type = ViewBag.Type, condition = ViewBag.Condition }),
                                new PagedListRenderOptions
                                    {
                                        LinkToPreviousPageFormat = "上一頁",
                                        LinkToNextPageFormat = "下一頁"
                                    })
            </div>
        </td>
        <td class="seperate"></td>
        <td class="column30">
            @Html.Partial("_PartialDetail", emailfilterrule)
        </td>
    </tr>
</table>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#EmailFilterRule_Index').addClass('current');
        });
    </script>
}
